<template>
          
    <p>Now click on the button to impose <code>{{PDFDoc.name}}</code></p>
    <button @click="copyPages()">Create PDF</button>
    <p class="small">(Your browser will download the resulting file)</p>
  
</template>

<script>

import { PDFDocument } from 'pdf-lib';
import download from 'downloadjs';

export default {

    props: {

      PDFDoc: {

        type: Object,
        required: true,

      },

    },

    methods: {
        
        async copyPages() {

            // Get the PDF
            const url = "https://www.fromager-florian.fr/a-imposer.pdf",
                pdfBytes = await fetch(url).then(res => res.arrayBuffer()),
                pdfDoc = await PDFDocument.load( pdfBytes );
            
            // Get the PDF pages
            const pages = pdfDoc.getPages(),
                length = pages.length;

            // Know if length is a multiple of 4
            if ( length % 4 === 0 ) {

                const newPdfDoc = await PDFDocument.create(),
                    date = new Date().getTime();

                for ( let i = 0; i < length; i++ ) {
                    
                    const number = i % 2 === 0 ? length - i - 1 : i - 1,
                        [ page ] = await newPdfDoc.copyPages( pdfDoc, [ number ] );

                    newPdfDoc.addPage( page );
                    
                }

                newPdfDoc.setCreationDate( new Date() );
                newPdfDoc.setSubject( 'a PDF imposed with 4123' );

                const newPdfBytes = await newPdfDoc.save();

                download( newPdfBytes, `imposed-${ date }.pdf`, "application/pdf" );

            }

            if ( length % 4 === 1 ) alert( "This PDF is not imposable, number of ti's pages may be a multiple of 4." );

        }
        
    },

}
</script>

<style>

</style>