<template>
  <DropZone @new-document="newDocument" />
  <Impositor v-if="PDFDoc" :PDFDoc="PDFDoc" />
</template>

<script>
import { ref } from 'vue'
import DropZone from './components/DropZone.vue'
import Impositor from './components/Impositor.vue'

export default {
  name: 'App',
  components: {
    DropZone,
    Impositor,
  },

  setup() {

    let PDFDoc = ref( null );

    function newDocument( value ) {

      PDFDoc.value = value;

      return PDFDoc;

    }
    return {

      PDFDoc,
      newDocument,

    };

  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
